body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

header {
    height: 20%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000000;
    padding: 10px;
}

header img {
    height: 76px;
    width: 233px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav > .nav {
    background-color: #455F85;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 20%;
}

footer {
    background-color: #455F85;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
    z-index: 100;
}

footer > a {
    background-color: #455F85;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #163767;  
}